@use "@scss/styles" as *;

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 750px;

  .home__block {
    max-width: 1400px;
    width: 100%;
    padding: 180px 32px 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;

    .title__block {
      margin-top: 64px;

      h1 {
        font-size: 24px;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        line-height: 35px;
        margin-bottom: 16px;

        span {
          font-size: 32px;
          color: #F20004;
          margin-left: -2px;
        }
      }

      h2 {
        @include font-extra-large;

        span {
          color: #F20004;
        }
      }
    }

    .sphere__position {
      margin-right: 0;
    }
  }
}

@media (min-width: $md) {
  .container {
    .home__block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .sphere__position {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: $xlg) {
  .container {
    .home__block {
      .title__block {
        position: relative;

        h1 {
          font-size: 32px;
          line-height: 50px;

          span {
            font-size: 60px;
          }
        }

        &::before {
          content: "";
          width: 80%;
          height: 1px;
          background-color: black;
          position: absolute;
          left: 0;
          top: -100%;
        }

        &::after {
          content: "";
          width: 120%;
          height: 1px;
          background-color: black;
          position: absolute;
          left: 0;
          bottom: -100%;
        }
      }
    }
  }
}